asgiref==3.4.1
dj-database-url==0.5.0
Django==4.0.2
django-heroku==0.3.1
mysql-connector-python==8.0.26
mysqlclient==2.0.3
protobuf==3.17.3
psycopg2==2.9.3
pytz==2021.1
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
whitenoise==6.0.0
