{% extends 'dictionary/layout.html'%}

{% block title%} Home page {% endblock%}

{% block body%}


{% for word in words_in_english %}

<h3>Word in English: </h3><p>{{ word.word_in_english }}</p>
<h3>Word in Twi: </h3><p>{{ word.word_in_twi }}</p>
<h3>Description: </h3><p>{{ word.word_meaning }}</p>
<h3>Sentence: </h3><p>{{ word.word_in_sentence}}</p>

<br>

<button class="audio">Audio</button>

{% empty %}

<h2>Seems we can find the word you are looking for </h2>
<h2>Try words like</h2>

<ul>
    {% for word in other_words %}
    <li>{{ word.word_in_english }}</li>
    {% endfor %}
</ul>


{% endfor %}


<br>
<br>
<a href="/">Do another search</a>



{% endblock %}