{% extends 'dictionary/layout.html'%}

{% block title%} Home page {% endblock%}

{% block body%}

{% load gTTS %}

{% for word in words_in_english %}

<h3>Word in English: </h3><p>{{ word.word_in_english }}</p>
<h3>Word in Twi: </h3><p>{{ word.word_in_twi }}</p>
<h3>Description: </h3><p>{{ word.word_meaning }}</p>
<h3>Sentence: </h3><p>{{ word.word_in_sentence}}</p>

<br>
<audio controls id="myAudio" style="display:none">
    <source src="{% say 'en-us' word.word_in_english %}">
</audio>
<audio controls id="myaudio" style="display:none">
    <source src="{% say 'en-us' word.word_in_twi %}">
</audio>
<br>
<button class="audio">Audio In English</button><br><br>
<button class="twi_audio">Audio In Twi</button><br><br>

{% empty %}



{% for word in close_words %}

<h2>Did you mean</h2>
<p>{{ word.word_in_english }}</p>

{% empty %}

<h2>Seems we can find the word you are looking for </h2>
<h2>Try words like</h2>

<ul>
    {% for word in other_words %}
    <li>{{ word.word_in_english }}</li>
    {% endfor %}
</ul>
<br>

{% endfor %}

<a href="/add_english">Recommend word</a><br><br>

{% endfor %}

<a href="/">Back to search</a>

{% endblock %}