{% extends 'dictionary/layout.html'%}

{% block title%} Home page {% endblock%}

{% block body%}

{% comment %} {% load gTTS %}
<audio controls autoplay>
<source src="https://www.computerhope.com/jargon/m/example.mp3" type="audio/mpeg">
</audio>

<audio controls autoplay>
    <source src="{% say 'en-us' 'Python Web framework' %}">
</audio> {% endcomment %}


<div>
<h2>Type a word to search for </h2>
    
<div id="english_form">
    <form  action="/english" method="get">

        {% csrf_token %}

    <div class="english_form" >
        {{ english_form }}
    </div>

        <input type="submit"/>

    </form>
</div>


<div id="twi_form" style="display: none">

    <form action="/twi" method="get">

        {% csrf_token %}

    <div class="twi_form" >
        {{ twi_form }}
    </div>

        <input type="submit"/>

    </form>
</div>




<br><br>
<div>
    <button id="english">English</button>

    <button id="twi">Twi</button>
</div>
<br><br>

</div>



{% comment %} <div>
    {{ english_word }}
</div>  {% endcomment %}




{% endblock %}