{% extends 'dictionary/layout.html'%}

{% block title%} Home page {% endblock%}

{% block body%}

{% comment %} <h1>Hello, worlder!</h1> {% endcomment %}

<div>
    <button id="english">English</button>

    <button id="twi">Twi</button>
</div>





<form id="english_form">

    {% csrf_token %}

<div class="english_form" >
    {{ english_form }}
<div>

    <input type="submit"/>

</form>

<br><br>



<table>
    <thead>
        <tr>
            <th>Word in English</th>
            {% comment %} <th>Word in Twi</th>
            <th>Meaning</th>
            <th>Sentence</th> {% endcomment %}
        </tr>
    </thead>

 
    <tbody>
        <tr>
           
    {% comment %} {% for word in words_in_english %} {% endcomment %}
                {% comment %} <td>{{ words_in_english.word_in_english }} </td> {% endcomment %}
                {% comment %} <td>{{ english_word.word_in_twi }} </td>
                <td>{{ english_word.word_meaning }} </td>
                <td>{{ english_word.word_in_sentence }} </td> {% endcomment %}
    {% comment %} {% endfor %} {% endcomment %}
  
        </tr>
    </tbody>

</table>

{% comment %} <div>
    {{ english_word }}
</div> {% endcomment %}

{% comment %} <form id="twi_form">

    {% csrf_token %}


<div class="twi_form" >
    {{ twi_form }}
<div>

    <input type="submit"/>


</form> {% endcomment %}


{% endblock %}