{% extends 'dictionary/layout.html'%}

{% block title%} Home page {% endblock%}

{% block body%}

{% load gTTS %}


<div class="main">
    <span style="" class="nav"><a href="/"><h4>Ghana Dictionary</h4></a></span>
<div class="english">
 
    <div class="words">
{% for word in words_in_twi %}   

        <div class="cards">
<div class="text">

    <main id="main"  style="padding: 0 30px 0px; font-size: medium; margin-top: -12%">
   
        <div id="about" class="about-area area-padding col-md-12 card mt-5 " style="float: left;">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
    
                 <h2>{{word.word_in_twi}}</h2>
                </div>
              </div>
            </div>
            <div class="row">
    
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle mb-5">
                  <div class="single-well">
                     <ul>
                      <li >
                      
                        <i class="bi bi-check"></i><span style="font-weight: bold; font-size: 20px" class="title">Translation</span><p>{{word.word_in_english}}</p>
                      </li>
    
                      <li >
                        <i class="bi bi-check"></i><span style="font-weight: bold; font-size: 20px" class="title">Meaning</span> <p> {{word.word_meaning}}</p>
                      </li>
    
                        <li >
                        <i class="bi bi-check"></i><span style="font-weight: bold; font-size: 20px" class="title">Sentence</span><p>{{word.word_in_sentence}}</p>
                      </li>
                      
                    </ul>
                    
                   
                  </div>
                </div>
            
              </div>
    
          
        
              <div style="display: flex; width: 100%">
                <button style="margin-right: 10%; display:flex; flex-direction:row" class="btn btn-primary btn-sm audio">Audio In English<span class="material-symbols-outlined">
                    volume_up
                    </span></button><br><br>
                <button style=" display:flex; flex-direction:row" class="btn btn-primary btn-sm twi_audio">Audio In Twi<span class="material-symbols-outlined">
                    volume_up
                    </span></button><br><br>
            </div>
              <!-- End col-->
            </div>
          </div>
        </div><!-- End Translation Section -->
    
        
    
    
      </main><!-- End #main -->
    












</div>
<hr>

<audio controls id="myAudio" style="display:none">
    <source src="{% say 'en-us' word.word_in_english %}">
</audio>

<audio controls id="myaudio" style="display:none">
    <source src="{% say 'en-us' word.word_in_twi %}">
</audio>



{% empty %}



{% for word in close_words %}

<h2>Did you mean</h2>
<p>{{ word.word_in_twi }}</p>

{% empty %}



<h2>Seems we can find the word you are looking for </h2>
<h2>Try words like</h2>

<ul>
    {% for word in other_words %}
    <li>{{ word.word_in_twi }}</li>
    {% endfor %}
</ul>
<br>

{% endfor %}

<a href="/add_twi"><button class="btn btn-success btn-sm" style="background-color: green; color: white">Recommend word</button></a><br>

{% endfor %}

<a href="/"><button class="btn btn-success btn-sm" style="background-color: blue; color: white">Back to search</button></a>



</div>
</div>
</div>
</div>

{% endblock %}