{% extends 'dictionary/layout.html'%}

{% block title%} Home page {% endblock%}

{% block body%}

{% comment %} <h1>Hello, worlder!</h1> {% endcomment %}


<table>
    <thead>
        <tr>
            <th>Word in English</th>
            <th>Word in Twi</th>
            <th>Meaning</th>
            <th>Sentence</th>
        </tr>
    </thead>

    {% for word in word_in_english %}
    <tbody>
        <tr>

            <td>{{ word.word_in_english }} </td>
            <td>{{ word.word_in_twi }} </td>
            <td>{{ word.word_meaning }} </td>
            <td>{{ word.word_in_sentence }} </td>
          
        </tr>
    </tbody>
    {% endfor %}

</table>




<br>
<br>
<br>
<br>

{{ english_word }}
{% comment %} <table>
    <thead>
        <tr>
            <th>Word in Twi</th>
            <th>Word in English</th>
            <th>Meaning</th>
            <th>Sentence</th>
        </tr>
    </thead>

    {% for word in word_in_twi %}
    <tbody>
        <tr>

            <td>{{ word.word_in_twi }} </td>
            <td>{{ word.word_in_english }} </td>
            <td>{{ word.word_meaning }} </td>
            <td>{{ word.word_in_sentence }} </td>
          
        </tr>
    </tbody>
    {% endfor %}

</table>
 {% endcomment %}

{% endblock %}